@import "tailwindcss";

@font-face {
  font-family: 'SFProDisplay-Light';
  src: url('/fonts/SFProDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('/fonts/SFProDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url('/fonts/SFProDisplay-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AppleGaramondItalic';
  src: url('/fonts/AppleGaramond-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SFMono-Regular';
  src: url('/fonts/SFMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --font-AppleGaramond: var(--font-AppleGaramond);
  --font-SFMono-Regular: var(--font-SFMono-Regular);
  --font-SFMono-Semibold: var(--font-SFMono-Semibold);
  --font-AppleGaramondItalic: var(--font-AppleGaramondItalic);
  --font-SFProDisplay-Light: 'SFProDisplay-Light', sans-serif;
  --font-SFProDisplay-Medium: 'SFProDisplay-Medium', sans-serif;
  --font-SFProDisplay-Semibold: 'SFProDisplay-Semibold', sans-serif;
}

.highlight-word {
  color: #BA0000;
  font-family: AppleGaramondItalic, serif;
  display: inline-block;
  padding-left: 4px;
  margin-left: -4px;
  padding-right: 4px;
  margin-right: -4px;
  /* Add any other styles you want */
}

.color-word {
  color: #BA0000;
}

body {
  background-color: white;
  /* Xóa hoặc comment 2 dòng này */
  /* background-image: conic-gradient(from 90deg at 12px 12px, rgba(0,0,0,0.05) 90deg, transparent 90deg);
  background-size: 16px 16px; */
}
.page-transition-enabled {
  transition-property: opacity, transform, filter;
  transition-timing-function: ease-out;
  transition-duration: 0.25s;
}

.page-transition {
  opacity: 0;
  transform: translateX(-50px);
  filter: blur(5px);
}

.backgroundblur {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.3);
}

.scroll-snap {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
}

.scroll-snap > * {
  scroll-snap-align: start;
}

/* Hide scrollbar for snap scrolling */
.scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

