@import "tailwindcss";

@theme inline {
  --font-AppleGaramond: var(--font-AppleGaramond);
  --font-SFMono-Regular: var(--font-SFMono-Regular);
  --font-SFMono-Semibold: var(--font-SFMono-Semibold);
  --font-AppleGaramondItalic: var(--font-AppleGaramondItalic);
}

.highlight-word {
  color: #BA0000;
  font-family: AppleGaramondItalic, serif;
  /* Add any other styles you want */
}

body {
  background-color: white;
  background-image:
    conic-gradient(from 90deg at 12px 12px, rgba(0,0,0,0.05) 90deg, transparent 90deg);
  background-size: 16px 16px;
}
